<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body ng-app="app">

  <div class="container" ng-controller="mainController">
    <h1>Entrez un message :</h1>
    <form ng-submit="add()">
      <input type="text" class="form-control" ng-model="message">
    </form>
    <table class="table" ng-if="messages.length > 0">
      <tr ng-repeat="message in messages">
        <td>{{$index}}</td>
        <td>{{message}}</td>
      </tr>
    </table>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script>
    angular.module('app', []).controller('mainController', function ($scope) {
      $scope.messages = [];
      $scope.add = function () {
        var msg = $scope.message.trim();
        $scope.message = '';
        if (msg) {
          $scope.messages.push(msg)
        }
      };
    });
  </script>
</body>

</html>