<header>
  <h1>Recettes maison</h1>
</header>
<div ng-if="$ctrl.list.length > 0">
  <input id="search" class="form-control" placeholder="Rechercher..." ng-model="$ctrl.query" />
  <div class="content">
    <div ng-repeat="item in $ctrl.list | filter : $ctrl.query" ng-class="{completed: item.completed}" class="item">
      <img src="{{item.image}}" />
      <div class="text">
        <div class="name">{{item.name}}</div>
        <div class="type">{{item.type}}</div>
      </div>
      <div class="commands">
        <span class="close" ng-click="$ctrl.removeItem(item)">x</span>
        <input type="checkbox" ng-model="item.completed" />
      </div>
    </div>
  </div>
</div>
<div class="actions">
  <button class="btn btn-success" ng-click="$ctrl.addItem()">Ajouter...</button>
  <span ng-if="$ctrl.list.length > 0">
    <button class="btn btn-primary" ng-model="$ctrl.allChecked" ng-click="$ctrl.markAll($ctrl.allChecked)">Tout cocher</button>
    <button class="btn btn-danger" ng-click="$ctrl.clearCompletedItems()">Supprimer les recettes cochées</button>
  </span>
</div>