<header>
  <h1>Shopping List</h1>
</header>
<section>
  <form ng-submit="$ctrl.addItem()">
    <input class="form-control" placeholder="Entrez le nom d'un nouvel article" ng-model="$ctrl.newItem" />
  </form>
  <article ng-show="$ctrl.list.length">
    <ul>
      <li ng-repeat="item in $ctrl.list" ng-class="{completed: item.completed}">
        <input id="item-{{$index}}" type="checkbox" ng-model="item.completed" />
        <label for="item-{{$index}}">{{item.title}}</label>
        <span class="close" ng-click="$ctrl.removeItem(item)">x</span>
      </li>
    </ul>
    <button class="btn btn-primary" ng-model="$ctrl.allChecked" ng-click="$ctrl.markAll($ctrl.allChecked)">Tout cocher</button>
    <button class="btn btn-danger" ng-click="$ctrl.clearCompletedItems()">Supprimer les tâches cochées</button>
  </article>
</section>