#search {
  max-width: 320px;
}

.content {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.content>.item {
  padding: 15px;
  float: left;
}

.content>.item {
  background-color: #eee;
  margin: 4px;
}

.content>.item>img {
  display: inline-block;
  max-width: 150px;
}

.content>.item>.text {
  margin: 2px 5px;
}

.content>.item>.text>.name {
  font-weight: bold;
}

.content>.item>.commands>input[type='checkbox'] {
    float: right;
    margin-top: 7px;
}

.content>.item>.commands>.close {
    float: right;
    margin-left: 15px;
}
