#search {
  max-width: 320px;
  display: inline-block;
}

.content {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.content>.item {
  padding: 15px;
  float: left;
}

.content>.item {
  background-color: #eee;
  margin: 4px;
}

.content>.item>img {
  display: inline-block;
  width: 190px;
}

.content>.item>.text {
  margin: 2px 5px;
}

.content>.item>.text>.name {
  font-weight: bold;
}

.content>.item>.commands>i {
  padding: 5px;
  float: right;
}

.content>.item>.commands>i:hover {
  background-color: #ccc;
  cursor: pointer;
}